/*
PALETA DE COLORES:
#2c1e1a
#ffc107 
#fcf5e5
*/


/* a toda la pagina*/
body {
    background-color: #fcf5e5;
}

/* HEADER */
.cabecera-estilo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../img/ubi-cafe-pilar.jpeg');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* FOOTER */
footer {
    background-color:#2c1e1a;
}
.pie-pagina a:hover {
    color: #ffc107 !important;
    transition: 0.3s;
}

.main-nosotros .col img{
    height: 350px;
    border-radius: 20px;
}

.main-nosotros .mision-estilo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                      url('../img/cafe-pilar-mision.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.main-nosotros .card{
    margin-left: 100px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    background-color: #2c1e1a;
    color:#fcf5e5
}

.container-valores h1{
    margin: 40px;
}