.main-nosotros .col img{
    height: 350px;
    border-radius: 20px;
}

.main-nosotros .mision-estilo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                      url('../img/cafe-pilar-mision.jpg');
    background-size: cover;
    background-position: center;
    padding: 80px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.main-nosotros .card{
    margin-left: 100px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    background-color: #2c1e1a;
    color:#fcf5e5
}

.container-valores h1{
    margin: 40px;
}